:root {
    --iris: #4D5AE5;
    --white: #fff;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornnflower: #E7E9FC;
    --grey: rgba(46, 47, 66, 0.70);
    --light-slate: #8E8F99;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --dairy: #FCFCFC;
}

@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .main-wrapper {
        padding: 112px 0 112px;
    }

    .nav-wrapper {}

    .nav-logo {
        padding: 25.5px 0;
    }

    .contacts {
        display: flex;
        flex-direction: column;
    }

    .contacts-list {}

    .nav-list {
        display: flex;
    }

    .open-modal-btn {
        display: none;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        padding-bottom: 36px;
        letter-spacing: 0, 07em;
    }

    .value-list {
        gap: 72px 24px;
    }

    .value-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .value-title {
        text-align: start;
    }

    .value-text {}

    .portfolio-list {
        flex-direction: unset;
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .tablet-inner {
        padding: 0 76px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .footer_first-block {
        text-align: start;
        margin-bottom: 0;
        margin-right: 24px;
    }

    .footer_second-block {
        margin-bottom: 0;
    }

    .footer-social-title {
        text-align: start;
    }

    .subscription-form {
        align-items: flex-start;
        flex-direction: unset;
        gap: 24px;
    }

    .subscription-title {
        text-align: start;
    }

    .team-list {
        flex-direction: unset;
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .main-wrapper {
        padding: 188px 0 188px;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        padding-bottom: 48px;
        letter-spacing: 0, 07em;
    }

    .value-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .value-item {
        flex-basis: calc((100% - 24px) / 3);
    }

    .value-title {
        font-size: 20px;
        font-weight: 500;
    }

    .value-text {
        font-weight: 400;
    }

    .rectange-list {
        display: flex;
    }

    .tablet-inner {
        padding: 0;
        gap: 0;

    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .value-item {
        flex-basis: calc((100% - 3*24px)/4);
    }

    .portfolio-list {
        row-gap: 48px;
        column-gap: 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .footer_first-block {
        margin-right: 120px;
    }

    .footer_second-block {
        margin-right: 80px;
    }
}