:root {
    --iris: #4D5AE5;
    --white: #fff;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --slate: #434455;
    --cloud: #F4F4FD;
    --cornnflower: #E7E9FC;
    --grey: rgba(46, 47, 66, 0.70);
    --light-slate: #8E8F99;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --dairy: #FCFCFC;
}

/* MOB */

@media screen and (min-width: 320px) {
    .container {
        min-width: 320px;
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-resolution: 192dpi) {
    .main-wrapper {
        background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
            url(../images/dark-bg_mob@2x.jpg);
    }
}

@media only screen and (max-width:767.98px) {
    .contacts {
        display: none;
    }

    .nav-list {
        display: none;
    }

    .nav-wrapper {
        justify-content: space-between;
    }
}

/* MOB */

/* TAB */

@media only screen and (min-width: 320px) and (max-width: 1157.98px) {
    .rectange-list {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .main-wrapper {
        padding: 112px 0 112px;
        background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
            url(../images/dark-bg_tab.jpg);
    }

    .header-inner {
        gap: 0;
    }

    .nav-logo {
        padding: 25.5px 0;
    }

    .nav-item.active a::after {
        bottom: -4px;
    }

    .contacts-list {
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }

    .contacts-link {
        padding: 0;
        font-size: 12px;
    }

    .open-modal-btn {
        display: none;
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        padding-bottom: 36px;
        letter-spacing: 0, 07em;
    }

    .value-list {
        gap: 72px 24px;
    }

    .value-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .value-title {
        text-align: start;
    }


    .portfolio-list {
        flex-direction: unset;
        gap: 72px 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .portfolio-pic {
        width: 356px;
        height: 300px;
    }

    .tablet-inner {
        padding: 0 76px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer_first-block {
        text-align: start;
        margin-right: 24px;
    }

    .footer_second-block {
        margin-bottom: 0;
    }

    .footer-social-title {
        text-align: start;
    }

    .subscription-form {
        align-items: flex-start;
        flex-direction: unset;
        gap: 24px;
    }

    .subscription-title {
        text-align: start;
    }

    .team-list {
        flex-direction: unset;
        gap: 64px 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .main-wrapper {
        background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
            url(../images/dark-bg_tab@2x.jpg);
    }

}

/* TAB */

/* LAPTOP */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .main-wrapper {
        padding: 188px 0 188px;
        background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
            url(../images/dark-bg_laptop.jpg);
    }

    .main-title {
        font-size: 56px;
        line-height: 1.07;
        padding-bottom: 48px;
        letter-spacing: 0, 07em;
    }


    .nav-logo {
        padding: 25.5px 0;
    }

    .contacts-list {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        font-size: 16px;
    }

    .value-list {
        flex-wrap: nowrap;
        gap: 24px;
    }

    .value-item {
        flex-basis: calc((100% - 24px) / 3);
    }

    .value-title {
        font-size: 20px;
        font-weight: 500;
    }

    .value-text {
        font-weight: 400;
    }

    .rectange-list {
        display: flex;
    }

    .tablet-inner {
        padding: 0;
        gap: 0;
        justify-content: center;
    }

    .team-list {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .value-item {
        flex-basis: calc((100% - 3*24px)/4);
    }

    .portfolio-list {
        row-gap: 48px;
        column-gap: 24px;
    }

    .portfolio-item {
        flex-basis: calc((100% - 48px) / 3);
    }

    .portfolio-pic {
        width: 360px;
        height: 300px;
    }

    .footer_first-block {
        margin-right: 120px;
        margin-bottom: 0px;
    }

    .footer_second-block {
        margin-right: 80px;
    }

    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .main-wrapper {
            background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
                url(../images/dark-bg_laptop@2x.jpg);
        }

    }
}

/* LAPTOP */